@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@400;700;900&display=swap');

.body{
    width: 100%;
}

#main-header{
     min-height: 147px ;
     background-color: rgba(255, 213, 158);
    
}
   
    

.main-title { 
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    padding-left: 25px;
    font-family: Francois One, sans-serif ;
    font-size: 72px;
    font-weight: normal;
    color: rgba(255, 103, 56)
}

.sub-title {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 32px;
    padding-right: 112px;
    font-family: Francois One, sans-serif;
    font-size: 34px;
    color: rgba(255, 103, 56)
    
}

#main-nav {
    height: 46px;
    background: rgba(255, 103, 56);
}

#main-nav ul {
    margin: 0;
}

#main-nav li {
    display: inline-block;
    list-style-type: none;
}

#main-nav li > a {
    margin-top: 12px;
    margin-left: 20px;
    display: inline-block;

}
#main-nav li > a,
#main-nav li > a:visited, 
#main-nav li > a:active{
    color: rgba(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.presentation{
    max-width: 640px;
    margin: 10px 0px 78px 0px;
    font-family: 'Montserrat';
    font-size: 14px;
}
.fondateur{
    background-color: #FFD59E;
    height: 700px;
}

.lefondateur{
    font-family: 'Montserrat';
    color: rgba(255, 103, 56);
    font-weight: 720;
    font-size: 36px;
    left: 700px;
    top: -50px;
    margin: 0;
    width: 320px;
}

.col01{
    font-family: 'Montserrat';
    font-size: 14px;
    max-width: 420px;
    margin: 0px 10px 20px 80px;
}

.col02{
    font-family: 'Montserrat';
    font-size: 14px;
    width: 420px;
    margin: 0px 0px 20px 10px;
}

h3{
    color: #FFA938;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

form{
    font-family: 'Montserrat';

}

input, textarea {
    font-size: 24px;
    color: #b7b7b7;
    border: none;
    background-color: rgba(255, 213, 158);
    margin: 20px 10px 20px 0px;
    padding: 20px;

}

#nom {
    width: 30spx;
}

#prenom {
    width: 560px;
}

#courriel, #telephone{
    width: 616px;
}

#submit {
    background-color: #FF6738;
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
    margin: 0 0 20px 600px;
    width: 310px;
    height: 86px;
    
}

.main-footer{
    background-color: #c4c4c4;
    height: 300px;
    margin: 0;
}
.paragraph-footer{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 30px;
}

.nosservices{
    font-family: 'Francois One';
    font-size: 48px;
    margin-right: 29px;
    color: rgba(255, 103, 56);

}

.servicetype{
    margin-bottom: 0;
    font-family: 'Montserrat';
    color: rgba(255, 103, 56);
    font-size: 36px;
    font-weight: 800;
    
}

.servicedescription{
    font-family: 'Montserrat';
    font-size: 14px;
    max-width: 480px;

}



.light-line{
    display: inline-block;
    height: 9px;
    width: 726px;
    background: rgba(255, 103, 56);
}

.large-line{
    background-color: #FF6738;
    width: 600px;
    height: 54px;
    margin: 40px 0px 40px 0px;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right{
    float: right;
}

.clear-fix { 
    clear: both;
}

.working{
    margin: 0 20px 40px 0;
    
}

.orange{
    background-color: rgba(255, 103, 56);
}

.kindaorange {
    background-color: rgba(255, 213, 158);
}

.relative{
    position: relative;
}

.marginbot{
    margin-bottom: 20px;

}

.marginleft{
    margin-left: 20px;
}


p{
    text-align: justify;
}
input{
    margin-bottom: 20px;
}
